*, ::before, ::after {
    margin : 0;
    padding : 0;
    box-sizing: border-box;
}

body{
    max-width: 740px;
    margin-left: auto;
    margin-right: auto;
    margin-top : 25px;
    font-family: "poppins", sans-serif;
}

.exemple {
    border: 1px solid black;
    border-radius : 10px;
    width: 740px;
    margin: 25px auto;
    padding : 15px 25px;
    background-color: #e5e5dc;
    word-wrap: break-word;
}

h2{
    text-align: center;
}