* {
    box-sizing: border-box;
  }
  

body h1 {
    font-size: 2em;
    color: black;
}

#containeur {
    display: flex;
}

#colonne01 {
    background-color:red;
    font-size: 1.5em;
    color: white;
    /* width: 25%; */
    text-align: center;
}

#colonne02 {
    background-color:blue;
    font-size: 1.5em;
    color: white;
    /* width: 50%; */
    text-align: center;
    flex: 1;
}

#colonne03 {
    background-color:green;
    font-size: 1.5em;
    color: white;
    /* width: 25%; */
    text-align: center;
}

#colonne04 {
    background-color: purple;
    font-size: 1.5em;
    color: white;
    /* width: 25%; */
    text-align: center;
}